mkdocs ==1.4.2
mkdocs-material ==8.5.9
Pygments==2.13.0
pymdown-extensions==9.7
mkdocs-awesome-pages-plugin
mkdocs-minify-plugin==0.6.1
mkdocs-git-revision-date-localized-plugin
mkdocs-snippet-plugin
pymdown-env
requests
pytz