Pygments==2.15.1
mkdocs ==1.4.3
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-git-revision-date-localized-plugin
mkdocs-material==9.1.18
mkdocs-material-extensions==1.1.1
mkdocs-minify-plugin==0.6.4
mkdocs-snippet-plugin
pymdown-env
pymdown-extensions==10.0.1
pytz
requests