mkdocs ==1.5.3
mkdocs-material
Pygments==2.16.1
pymdown-extensions==10.3.1
mkdocs-awesome-pages-plugin
mkdocs-minify-plugin==0.7.1
mkdocs-git-revision-date-localized-plugin
mkdocs-snippet-plugin
pymdown-env
requests
pytz