mkdocs ==1.4.3
mkdocs-material
Pygments==2.14.0
pymdown-extensions==9.11
mkdocs-awesome-pages-plugin
mkdocs-minify-plugin==0.6.4
mkdocs-git-revision-date-localized-plugin
mkdocs-snippet-plugin
pymdown-env
requests
pytz